<div class="container">
<h1 class ="text-center mb-3 mt-4">Calculate Optime</h1>
<p class ="text-center mb-3 mt-4">可処分時間を計算しよう</p>
<p class ="ext-center mb-3 mt-4">可処分時間とは何か</p>
<div class="text-center mb-3 mt-4 d-flex justify-content-space-between">
 <%= image_tag 'meditate.svg',name: '瞑想にする？'%>

 <div class = "d-flex justify-content-space-between">
 <%= link_to 'ユーザー登録',new_static_page_path %>
 <%= link_to 'ゲストユーザー', new_guest_user_path %>
 </div>
 </div>

<%= link_to '既にアカウントをお持ちの方',login_path%>


</div>