<div class="card-deck">
    <div class="col-12">
      <div class="row">
        <% if @optimes.present? %>
          <%= render @optimes %>
        <% else %>
       <%= image_tag 'noposts.jpeg' %>
        <% end %>
      </div>
    </div>
  </div>
         <%= paginate @optimes, left: 1, right: 3 %>
</div>
 
</div>
