<div class="card-deck">
    <div class="col-12 text-center">
      <div class="row">
        <% if @optimes.present? %>
          <%= render @optimes %>
        <% else %>
       <%= image_tag 'noposts.jpeg' %>
        <% end %>
      </div>
    </div>
  </div>
         
</div>
 
</div>
